<!DOCTYPE html>
<html>
<head>
    <title>Simple Node.js App</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <header>
        <h1>Posts</h1>
    </header>
    <div class="container">
        <ul>
            <% posts.forEach(post => { %>
                <li>
                    <strong><%= post.title %></strong>: <%= post.content %>
                    <a href="/edit/<%= post.id %>">Edit</a>
                </li>
            <% }) %>
        </ul>
        <a href="/create">Create a new post</a>
        <br>
        <a href="/tables">View All Tables</a>
    </div>
</body>
</html>
